@import '../../app/styles/vars';

.historicalEvent {
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: $iris;
  }
  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $black-blue;
  }
}

@media (max-width: 768px) {
  .historicalEvent {
    &__title {
      font-family: 'Bebas Neue';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $iris;
    }
    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $black-blue;
    }
  }
}
