@import '../../app/styles/vars';

.circle {
  user-select: none;

  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__container {
    rotate: -120deg;
  }

  &__circle {
    position: relative;

    display: flex;

    width: $circular-slider-width;
    height: $circular-slider-width;
    margin: 0;
    padding: 0;

    list-style-type: none;

    border: 1px solid $black-blue-10;
    border-radius: 50%;
  }
}

@media (max-width: $md) {
  .circle {
    display: none;
  }
}
