@import '../../app/styles/vars';

.contentContainer {
  position: relative;
  min-height: 100vh;
  padding-top: 15.7vh;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 1px;
    height: 100%;

    background-color: $black-blue-10;
  }

  &__wrap {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    min-height: calc($circular-slider-width + 30px + 56px);

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 100%;
      height: 1px;

      background-color: $black-blue-10;
    }
  }

  &__numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-grow: 1;
    gap: 90px;
    align-items: center;
    justify-content: center;

    padding-right: 30px;

    font-size: 200px;
    font-weight: 700;
  }

  &__number {
    &_iris {
      color: $iris;
    }

    &_fuchsia {
      color: $fuchsia;
    }
  }

  &__controls {
    position: relative;
  }
}

@media (max-width: $xl) {
  .contentContainer {
    &__numbers {
      font-size: 120px;
    }
  }
}

@media (max-width: $md) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    padding-top: 59px;

    &::before {
      display: none;
    }

    &__wrap {
      min-height: 0;

      &::before {
        display: none;
      }
    }

    &__numbers {
      position: relative;
      top: 50%;
      left: 0;
      transform: none;

      gap: 30px;

      padding: 0;

      font-size: 56px;
    }

    &__historicalSlider {
      margin-top: 70px;
    }

    &__controls {
      display: flex;
      margin: 20px 0 10px;
    }

    &__pagination {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
