@import '../../../../app/styles/vars';

.dot {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 6px;
  height: 6px;
  margin: calc((-6px / 2));
  padding: 0;

  font-size: 0;
  font-weight: 400;
  line-height: 30px;
  color: $black-blue;

  background: $black-blue;
  border: none;
  border-radius: 50%;

  @for $i from 1 through $circular-slider-dots {
    &:nth-child(#{$i}) {
      $angle: calc(360deg / $circular-slider-dots * $i);
      transform: rotate($angle)
        translate(calc($circular-slider-width / 2))
        rotate(-$angle)
        rotate(120deg);
    }
  }

  &__category {
    position: absolute;
    top: 50%;
    left: calc(56px + 20px);
    transform: translateY(-50%);

    font-weight: 700;

    opacity: 0;
  }
}
