@import '../../app/styles/vars';

.historicalEventList {
  user-select: none;
  min-height: 220px;
  padding: 20px;
  opacity: 0;

  &__container {
    position: relative;
    padding: 0 60px;
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}

@media (max-width: $md) {
  .historicalEventList {
    padding: 0;

    &__container {
      padding: 0;
    }

    &__nav {
      display: none;
    }
  }
}
